* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #DDE7F3;
}

.card {
    height: 360px;
    margin: 160px auto;
}
.form {
    display: inline-block;
    margin: 20px auto 30px;
    text-align: center;
    width: 100%;
}

.logo {
    padding: 30px 0;
}

.results {
    margin: auto;
    width: 80%;
}

a {
    color: #FF8479;
}


p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #BEB9CB;
    letter-spacing: -1px;
    font-size: 11px;   
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #FF8479;
    font-size: 50px;   
    letter-spacing: -4px; 
    text-align: center;
}

input[type=number] {
    border: none;
    text-align: center;
    border-radius: 15px;
    width: 80%;
    height: 50px;
    background: transparent;
    box-shadow: inset 4px 4px 5px rgb(163,177,198,0.6), inset -3px -3px 4px  white;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #BEB9CB;
}
input::-webkit-input-placeholder {
    color: #BEB9CB;
} 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
    border: none;
    border-radius: 15px;
    box-shadow: 0px 6px 15px rgba(255, 132, 121, 1);
    width: 80%;
    height: 60px;
    background: linear-gradient(#FF8E83, #FF8479);
    color: #EAEBF3;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin: 15px auto;
}
button:hover{
    transform: scale(1.1);
} 

/*responsiveness*/
@media (min-width: 900px){
    .card {
        border-radius: 30px;
        box-shadow: 4px 2px 15px rgba(136, 165, 191, .5), -2px -2px 15px white;
        width: 25%;
        margin: 120px auto;
    }
}

@media (min-width: 500px) and (max-width: 900px){
    .card {
        width: 50%;
        margin: 140px auto;
    }
}
